<div>
  <picture>
    <img src='/images/beer.png' alt='Beer Image' />
  </picture>
  <nav>
    <a href='/beers'>Check the Beers!</a>
    <a href='/random-beer'>Check a Random Beer!</a>
  </nav>
</div>