<div class='container'>
  {{#each randomFromApi}}
    <div class='content'>
      <picture>
        <img src={{image_url}} alt='Beer Image' />
      </picture>
      <div class='text'>
        <p>
          Name:{{name}}
        </p>
        <p>
          Description:
          {{description}}</p>
        <p>Tagline:
          {{tagline}}</p>
      </div>
    </div>

  {{/each}}
</div>